[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]in/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/
.vs/
.idea/
*.csproj
*.sln
!Tools/**/*.csproj
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
Tools/CoreSmokeTests/*.exe
Tools/**/*.log
Tools/**/*.png
Tools/**/*.ppm
Tools/**/*.tga
Tools/ArtSource/
*.opendb
*.VC.db
sysinfo.txt
